
:root {
   --primary: #0096FF;
   --black: #010101;
   --white: #ffffff;
   --gray-1: #777777;

}

body {
   font-family: 'Open Sans', sans-serif;
   font-family: 'Poppins', sans-serif;
}
h1, h3, h4, h5 {
   font-family: 'Poppins', sans-serif;
}
p {
   font-family: 'Open Sans', sans-serif;
   color: #777777;
   padding-top: 20px;
}
.ellipse1 {
   position: absolute;
   top: 0%;
   z-index: -1;
   width: 40%;
}
.ellipse2 {
   position: absolute;
   right: 10%;
   z-index: -1;
}
.ellipse3 {
   position: absolute;
   right: 50%;
   z-index: -1;
}
.ellipse4 {
   position: absolute;
   right: 10%;
   z-index: -1;
}
.number2 {
   position: absolute;
   right: 88%;
   z-index: -1;
}
.number3 {
   position: absolute;
   right: 20%;
   z-index: -1;
}
button {
   border-radius: 32px;
}
.container {
   padding: 40px;
   padding-top: 100px;
}
.bold {
   color: #0096FF;
}
.navbar-brand {
   padding-left: 5%;
}
#how {
   padding: 80px;
}
#upload {
   padding: 80px;
   align-items: center;
   text-align: center;
}
#models {
   padding: 80px;
}
#api {
   padding: 80px;
   align-items: center;
   text-align: center;
}
#product {
   padding: 80px;
   align-items: center;
   text-align: center;
}
#contact {
   padding: 80px;
}
#footer {
   padding: 20px;
   align-items: center;
   text-align: center;
}
.col-6 {
   margin: 40px;
   padding: 20px 0 20px 0;
   text-align: center;
   vertical-align: middle;
}
.animation {
   width: 500px;
   height: auto;
}
.heading {
   margin-top: 60px;
   font-weight: bold;
}
.projectname {
   width: 80%;
   height: auto;
   align-self: center;
   min-width: 200px;
}
.projectupload {
   width: 80%;
   height: auto;
   align-self: center;
   min-width: 400px;
}
.projectmodels {
   width: 60%;
   height: auto;
   min-width: 400px;
}
.projectapi {
   width: 80%;
   height: auto;
   min-width: 400px;
}
video {
   display: block;
   height: auto;
   width: 100%;
   border-radius: 16px;
   border: 2px solid #010101;
}
h3 {
   text-align: center;
}

